Repository oss-review-toolkit/ort, pull requests merged in 2019-01, with the labels that each got.

#1157 Static html reporter test minor improvements
  reporter/src/funTest/kotlin/reporters/StaticHtmlReporterTest.kt
Labels: reporter

#1159 README: Add install instructions for Docker image
  README.md
Labels: documentation

#1156 README: Update installation prerequisites
  README.md
Labels: documentation

#1184 reporter-web-app: Align copyright headers to those in Kotlin code
  reporter-web-app/public/index.html
  reporter-web-app/src/App.js
  reporter-web-app/src/components/ExpandablePanel.js
  reporter-web-app/src/components/ExpandablePanelContent.js
  reporter-web-app/src/components/ExpandablePanelTitle.js
  reporter-web-app/src/components/LicenseChart.js
  reporter-web-app/src/components/LicenseSummaryCard.js
  reporter-web-app/src/components/LicenseTag.js
  reporter-web-app/src/components/PackageDetails.js
  reporter-web-app/src/components/PackageErrors.js
  reporter-web-app/src/components/PackageLicenses.js
  reporter-web-app/src/components/PackagePaths.js
  reporter-web-app/src/components/PackageScansSummary.js
  reporter-web-app/src/components/SummaryViewLicenses.js
  reporter-web-app/src/components/SummaryViewTableIssues.js
  reporter-web-app/src/components/SummaryViewTableMetadata.js
  reporter-web-app/src/components/SummaryViewTimeline.js
  reporter-web-app/src/components/TreeView.js
  reporter-web-app/src/data/choosealicense/index.js
  reporter-web-app/src/data/colors/index.js
  reporter-web-app/src/index.js
  reporter-web-app/src/reducers/index.js
  reporter-web-app/src/reducers/selectors.js
  reporter-web-app/src/sagas/convertReportData.js
  reporter-web-app/src/sagas/index.js
  reporter-web-app/src/store/index.js
  reporter-web-app/src/utils/index.js
Labels: reporter

#1185 Improve OrtIssue's toString()
  model/src/main/kotlin/OrtIssue.kt
  reporter/src/funTest/assets/file-counter-expected-scan-report.xlsx
  reporter/src/funTest/assets/static-html-reporter-test-expected-output.html
Labels: reporter

#1204 VcsInfo: Fail deserialization on unknown property
  model/build.gradle
  model/src/main/kotlin/Mappers.kt
  model/src/main/kotlin/VcsInfo.kt
  model/src/test/kotlin/VcsInfoTest.kt
Labels: model
