Repository oss-review-toolkit/ort, pull requests merged in 2023-07, with the labels that each got.

#7260 fix(helper-cli): Stop failing with an `IllegalStateException`
  helper-cli/src/main/kotlin/commands/classifications/ImportCommand.kt
Labels: helper-cli

#7286 fix(spdx): Fix-up representing the relationship of files and packages
  plugins/reporters/spdx/src/funTest/assets/spdx-document-reporter-expected-output.spdx.json
  plugins/reporters/spdx/src/funTest/assets/spdx-document-reporter-expected-output.spdx.yml
  plugins/reporters/spdx/src/main/kotlin/SpdxDocumentModelMapper.kt
Labels: reporter, release notes

#7276 fix(scanner): Filter scan results by scanner name
  cli/src/funTest/assets/semver4j-ort-result.yml
  model/src/main/kotlin/ScannerRun.kt
  model/src/main/kotlin/utils/SortedSetConverters.kt
  plugins/reporters/evaluated-model/src/funTest/assets/reporter-test-input.yml
  plugins/reporters/opossum/src/funTest/assets/reporter-test-input.yml
  plugins/reporters/static-html/src/funTest/assets/reporter-test-input.yml
  plugins/reporters/web-app/src/funTest/assets/scan-result-for-synthetic-gradle-lib.yml
  scanner/src/funTest/assets/scanner-integration-all-pkgs-expected-ort-result.yml
  scanner/src/funTest/assets/scanner-integration-subset-pkgs-expected-ort-result.yml
  scanner/src/funTest/kotlin/scanners/MultipleScannersTest.kt
  scanner/src/funTest/kotlin/scanners/ScannerIntegrationFunTest.kt
  scanner/src/main/kotlin/Scanner.kt
  utils/test/src/main/kotlin/Utils.kt
Labels: scanner, breaking change, release notes
